*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #272C3D;
    padding: 25px;
}
ul{
    display: flex;
    gap: 30px;
}
li{
    color: white;
    list-style: none;
}
input{
   width: 240px; 
   padding: 10px;
}
select{
    width: 200px;
    height: 37px;
    background-color: black;
    border-radius: 10px;
    color: white;
}
input{
    background-color: #272C3D;
}
.img{
    width: 100%;
}
.h1{
    font-family: Quantico;
font-weight: 400;
font-style: Regular;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
color: black;
text-align: center;
}
.div1{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.img-1{
    width: 550PX;
}
.section1{
    background-color: black;
}
.s1{
    width: 100%;
    background-color: #000000;
    padding-top: 45px;
}
.s1 h1{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    color: white;
}
.s1_img{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    padding: 0 143px;
    margin-bottom: 59px;
}
.s1_content{
    width: 1189px;
    height: 928px;
    background-color: #1B1E27;
    margin: 0 auto;
    padding: 61px 241px; 
}
.h2{
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-bottom: 30px;
}
.s11{
    display: flex;
    justify-content: space-between;
    gap: 17px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.box2{
    margin-top: 142px;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #272C3D;
    width: 100%;
    height: 70px;
    padding: 22px 47px;
}
.footer ul{
    display: flex;
    gap: 25px;
    padding:20px 0  20px 25px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
}
.li1{
    color: #FF9C28;
}